<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gold-shop</title>
    <link rel="stylesheet" href="./layout.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo-section">
        <a href="#">
          <img src="./icons8-diamond-96.png" alt="logo" class="logo-jewelery" />
        </a>
        <div class="header-text">
          <span class="eng">Almas Jewelery</span>
          <span class="fa">جـواهـرات الـمـاس</span>
        </div>
      </div>

      <div class="search-section">
        <input class="search" type="text" placeholder="جستجوی محصولات" />
        <button class="search-button" type="button">جـسـتجـو</button>
      </div>
      <div class="register-section">
        <a href="#" class="sign-up">ورود/ ثبت نام</a>
      </div>
    </header>
  </body>
</html>
