* {
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  z-index: 1000;
  height: 60px;
}
.logo-section {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
  margin-top: 10px;
}
.logo-jewelery {
  width: 90px;
  height: 90px;
  object-fit: contain;
  transition: 0.3s;
}
.logo-jewelery:hover {
  filter: drop-shadow(0 0 20px rgb(233, 220, 146))
    drop-shadow(0 0 40px rgb(130, 149, 172)) brightness(1.2);
}
.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.3;
  color: #333;
  background: linear-gradient(45deg, #edf769, #2d94c4, #295ec0);
  background-clip: text;
  color: transparent;
  gap: 5px;
}
.eng {
  font-family: fantasy;
  font-size: 20px;
}
.fa {
  font-size: 17px;
  font-weight: bold;
  font-family: titr;
}
.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  margin-top: 10px;
  margin-left: 20px;
  flex-direction: row;
}
.search {
  direction: rtl;
  border: 1px solid rgb(43, 75, 112);
  height: 40px;
  width: 350px;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 16px;
  font-family: B nazanin;
}
.search-button {
  cursor: pointer;
  height: 40px;
  width: 80px;
  border: 1px solid rgb(43, 75, 112);
  background: #537bc5;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s;
  font-size: 16px;
}
.search-button:hover {
  background: linear-gradient(45deg, #ebee34, #031125, #3aa0ff);
}
.register-section {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-top: 7px;
}
.sign-up {
  font-size: 16px;
  font-weight: bold;
  font-family: B nazanin;
  color: white;
  background: #537bc5;
  text-decoration: none;
  padding: 7px 22px;
  border-radius: 4px;
  border: 1px solid rgb(43, 75, 112);
  height: 24px;
  width: 80px;
  transition: all 0.3s;
}
.sign-up:hover {
  background: linear-gradient(45deg, #ebee34, #031125, #3aa0ff);
}
.search-button,
.sign-up {
  box-shadow: 0 0 50px currentColor;
}
.navbar {
  background: #2c3e50;
  padding: 20px 20px;
  margin-top: 90px;
  position: sticky;
  top: 70px;
  display: flex;
  z-index: 800;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  font-family: B nazanin;
}
.nav-category {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}
.three-lines {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-right: 20px;
}
.line {
  width: 25px;
  height: 3px;
  background-color: white;
}
.line:nth-child(2) {
  width: 20px;
}
.line:nth-child(3) {
  width: 15px;
}
.text-category {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: B nazanin;
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: #2c3e50;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  min-width: 150px;
  border-radius: 4px;
  z-index: 100;
}

.dropdown li a {
  color: white;
  text-decoration: none;
  font-family: B nazanin;
  font-weight: bold;
  padding: 8px 15px;
  display: block;
}

.dropdown li a:hover {
  background: rgb(50, 201, 201);
}

.nav-category:hover .dropdown {
  display: block;
}
.nav-center {
  display: flex;
  gap: 70px;
  height: 100%;
  align-items: center;
}
.nav-item {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  font-weight: bold;
}
.nav-item:hover {
  color: rgb(50, 201, 201);
}
.cart-icon {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 15px;
  font-weight: bold;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: B nazanin;
}
.cart-icon:hover {
  color: rgb(50, 201, 201);
}
.nav-category:hover .line {
  background-color: rgb(50, 201, 201);
}
.nav-category:hover .text-category {
  color: rgb(50, 201, 201);
}

.slider {
  position: relative;
  width: 100%;
  max-width: 1700px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
  height: 600px;
}

.pictures {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.pictures img {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

.slider button {
  position: absolute;
  top: 50%;
  color: rgb(10, 10, 10);
  border: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 10;
}

.slider .prev-picture {
  left: 0px;
}

.slider .next-picture {
  right: 0px;
}

.slider button:hover {
  background: rgba(255, 255, 255, 0.8);
}
.about-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  padding: 40px;
}

.text-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 90px;
}

.titr {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.text-box p {
  font-size: 30px;
  line-height: 1.8;
  text-align: justify;
}

.about-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 65%;
  height: auto;
  object-fit: contain;
}

.about-button {
  height: 40px;
  width: 80px;
  border: 1px solid rgb(43, 75, 112);
  background: #537bc5;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s;
  font-size: 16px;
  margin-right: 80%;
}
.about-button:hover {
  background: linear-gradient(45deg, #ebee34, #031125, #3aa0ff);
}

.products-section {
  width: 100%;
  padding: 40px 10px;
  margin-top: 40px;
}

.section-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid #0c0544;
  padding-bottom: 5px;
  width: fit-content;
  direction: ltr;
}

.section-title .icon {
  font-size: 24px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.product-card {
  text-align: center;
  cursor: pointer;
}
.product-image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.product-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  cursor: pointer;
}
.product-icons {
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 0;
  transition: 0.4s;
}

.product-icons span {
  background: white;
  padding: 15px;
  border-radius: 50%;
  font-size: 20px;
  transition: 0.3s;
}

.product-icons span:hover {
  background: gold;
}

.product-card:hover img {
  filter: brightness(0.7);
}

.product-card:hover .product-icons {
  opacity: 1;
  right: 10px;
}

.product-info {
  background: #f9f9f9;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  border: 1px solid #eee;
  border-top: none;
  text-align: center;
}

.product-name {
  font-size: 17px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #d43f3a;
}

.latest-articles {
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
}

.latest-articles .section-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  border-bottom: 2px solid #0c0544;
  padding-bottom: 5px;
}

.articles-grid {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.article-card {
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 300px;
  cursor: pointer;
}

.article-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.article-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 0.4s;
  border-radius: 10px 10px 0 0;
}

.article-card:hover .article-image {
  filter: brightness(0.85);
}

.article-text {
  padding: 15px;
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  text-align: justify;
}

