* {
  padding: 0;
  margin: 0;
}

body {
  direction: rtl;
  font-family: Arial, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
  margin-top: 0;
}

.logo-jewelery {
  width: 90px;
  height: 90px;
  object-fit: contain;
  transition: 0.3s;
}

.logo-jewelery:hover {
  filter: drop-shadow(0 0 20px rgb(233, 220, 146))
    drop-shadow(0 0 40px rgb(130, 149, 172)) brightness(1.2);
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.3;
  font-size: 16px;

  color: #333;
  background: linear-gradient(45deg, #ebee34, #031125, #3aa0ff);
  background-clip: text;
  color: transparent;
}

.eng {
  font-family: fantasy;
}

.fa {
  font-size: 17px;
  font-weight: bold;
  font-family: sahel;
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  margin-top: 10px;
  margin-left: 20px;
  flex-direction: row;
}

.search {
  direction: rtl;
  border: 1px solid rgb(43, 75, 112);
  height: 40px;
  width: 350px;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 16px;
}

.search-button {
  cursor: pointer;
  height: 40px;
  width: 80px;
  border: 1px solid rgb(43, 75, 112);
  background: linear-gradient(45deg, #ebee34, #031125, #3aa0ff);
  border-radius: 4px;
  font-weight: bold;
  color: white;
  transition: background-color 0.3s;
  font-size: 16px;
}

.search-button:hover {
  background: #537bc5;
}

.register-section {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-top: 7px;
}

.sign-up {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #ebee34, #031125, #3aa0ff);
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgb(43, 75, 112);
  height: 20px;
  width: 80px;
  transition: all 0.3s;
  margin-left: 150px;
}

.sign-up:hover {
  background: #537bc5;
}

.search-button,
.sign-up {
  box-shadow: 0 0 50px currentColor;
}
